
@media screen and (max-width: 900px){
    .Podts, .Noticies{
        .desktop{
            .card:nth-child(3){
                display: none;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .Podts, .Noticies, .Heros{
        .desktop{
            .card{
                display: none;
            }
        }
        .mobile{
            .card{
                display: visible;
            }
        }
    }
}

@media screen and (min-width: 601px){
    .Podts, .Noticies, .Heros{
        .desktop{
            .card{
                display: visible;
            }
        }
        .mobile{
            
                display: none;
            
        }
    }
}

.anunc{
    img{
        margin-top: 65px;
        height:200px;
        width:95%;
        border-radius: 10px;
    }
}

.Center{
    width: 95%;
    margin: auto;
    .Center-card{

        .card {
        box-shadow: 0 10px 10px rgba(0,0,0,0.2);
        width: 150px;
        height: 150px;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        position: relative;
        transition: all .4s linear;
        float: right;
            img{
            width: 150px;
            height: 150px;
            border-radius: 20px ;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            cursor: pointer;
            z-index: 10;
            transition: all .4s linear;
            background-color: white;
        }

        &:hover img{
            margin-top: -52px;
        }

        a{
            position: absolute;
            z-index: 1;
            bottom:1px;
            left: 35px;
            font-weight: 600;
            transition: all .1s linear;

            &:hover{
                color:$CorSele;
            }
        }
    }
}

.live{
    margin: 0;
    padding: 0;

li{
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: 15px;
    border: 1px solid $CorSele;
    border-radius: 10px;
    padding: 5px;
    transition: all .2s linear;
    

    &:nth-child(1):hover{
        @include shadow($Youtube);
        @include shadow($Youtube);
        @include shadow($Youtube);
        a{
            color: white;
        }
    }
    &:nth-child(2):hover{
        @include shadow($Twitch);
        @include shadow($Twitch);
        @include shadow($Twitch);
        a{
            color: white;
        }
    }
    &:nth-child(3):hover{
        @include shadow($Insta);
        @include shadow($Insta);
        @include shadow($Insta);
        a{
            color: white;
        }
    }
}

}

.container-redes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .rede{
        font-weight: 500;
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0 3px;
        background-color: rgba(0,0,0,0.3);
        overflow: hidden;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
        transition: all 0.3s ease-out;

        &:nth-child(1):hover{
            width: 130px;
            a{
                color: $Youtube;
            }
        }

        &:nth-child(2):hover{
            width: 140px;
            a{
                color: $Insta;
            }
        }

        &:nth-child(3):hover{
            width: 120px;
            a{
                color: $SpotiFy;
            }
        }

        &:nth-child(4):hover{
            width: 120px;
            a{
                color: $Twitch;
            }
        }
        

        .rede-link{
            display: inline-block;
            height: 40px;
            width: 40px;
            text-align: center;
            line-height: 40px;
            border-radius: 50px;
            transition: all 0.3s ease-out;
        }
        
    }
}
}

.Podts, .Noticies{
    width: 98%;
    margin: auto;

    .desktop{
        display: flex;
        justify-content: space-between;
        
        .card{
            @include card();
            .play{
                .bi-play-fill{
                    position: absolute;
                    color: transparent;
                    height: 39%;
                    left: 100px;
                    font-size: 100px;
                    transition: all .2s linear;

                    &:hover{
                        color: white;
                    }
                }
            }
            span{
                display: inline;
                text-align: center;

                .Materia:hover{
                    color: white;
                }

                .btn:nth-child(1):hover{
                    color: $Youtube;
                }

                .btn:nth-child(2){
                    margin: 0 15px 0 15px;
                }

                .btn:nth-child(2):hover{
                    color: $Twitch;
                }

                .btn:nth-child(3):hover{
                    color: $SpotiFy;
                }
            }
        }
    }

    .mobile{
        .card{
            width: 95%;
            margin: auto;
            @include card();

            .play{
                .bi-play-fill{
                    position: absolute;
                    color: transparent;
                    height: 39%;
                    left: 100px;
                    font-size: 100px;
                    transition: all .2s linear;

                    &:hover{
                        color: white;
                    }
                }
            }
            span{
                display: inline;
                text-align: center;

                .btn:nth-child(1):hover{
                    color: $Youtube;
                }

                .btn:nth-child(2){
                    margin: 0 15px 0 15px;
                }

                .btn:nth-child(2):hover{
                    color: $Twitch;
                }

                .btn:nth-child(3):hover{
                    color: $SpotiFy;
                }
            }
        }
    }
}

.shop{
    width: 98%;
    margin: auto;

    .shop-itens{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .card{
            @include card();
            margin: 5px auto;
        
        a{
            width: 60%;
            margin: 0 auto 15px;
        }
        }
    }
}

.Heros{
    width: 98%;
    margin: auto;
    .desktop{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            margin: 15px auto;
            @include card();


            img{
                width: 70%;
                height: 33%;
                margin: 5px auto;
                border-radius: 35px;
                filter: grayscale(80%);
                transition: all .2s linear;

                &:hover{
                    filter: grayscale(0)
                }
            }

            span{
                text-align: center;
            }
        }
    }
    .mobile{
        width: 95%;
        margin: auto;

        .card{
            border-radius: 5px;
            margin: auto;
            @include card();

            img{
                width: 70%;
                height: 33%;
                margin: 5px auto;
                border-radius: 35px;
                filter: grayscale(80%);
                transition: all .2s linear;

                &:hover{
                    filter: grayscale(0)
                }
            }
        }
    }
    span{
        text-align: center;

        a{
            transition: all .2s linear;
            &:hover{
                color: white;
            }
        }
    }
}

.foot{
    .foot-guia{
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: center;
        div{
        width: 30%;

        li{
            color: #004eff;
            list-style: none;
            
            a{
                color: #004eff;
                transition: all .2s linear;
            &:hover{
                color: white;
            }
        }
        }
    }
}
img{
    width: 20px;
    height: 20px;
}
}